body{
    background-color: rgb(62, 62, 62);
}
*{
    user-select: none;
}
#background{
    z-index: -1;
    position: absolute;
    top:0px;
    left:0px;
    box-shadow: 5px 5px 5px;
}
#charac{
    position:absolute;
    height:40px;
    width:40px;
}
.door{
    position: absolute;
    top:370px;
    left:248px;
    height:40px;
    width:40px;
}
