#village{
    z-index: -1;
    position: absolute;
    top:0px;
    left:0px;
}
#charac{
    position:absolute;
    height:40px;
    width:40px;
}
.door{
    position: absolute;
    top:370px;
    left:248px;
    height:40px;
    width:40px;
}
