body{
    background-color: rgb(62, 62, 62);
}
*{
    user-select: none;
}
.container{
    position:relative;
    top:0px
    left:0px;
    width:1322px;
    height:750px;
}
/*map*/
#background{
    z-index: -1;
    position: absolute;
    width:1322px;
    height:750px;
    top:0px;
    left:0px;
    box-shadow: 5px 5px 5px;
}
/*icone pour les indices*/
#indices {
  width: 150px;
  margin-left: 90%;
}
/*Montrer les indices*/
.showIndices {
  background: #0a0a0a;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}
#charac{
    position:absolute;
    height:40px;
    width:40px;
}
.door{
    position: absolute;
    top:370px;
    left:248px;
    height:40px;
    width:40px;
}
#dialogue{
    position: absolute;
    right:30px;
    bottom:30px;
    background-color: rgba(255,255,255,0.8);
    border: solid 4px rgb(89, 71, 35);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    width:840px;
    height:100px;
}
