body{
  background: #000000;
}
#map {
  width: 56%;
  position: relative;
}
/*Choix du monde à explorer*/
#item1 {
    position:absolute;
    width: 32px;
    top:35%;
    left: 18%;
    z-index: 5;
}
#item2 {
    position:absolute;
    width: 32px;
    top:55%;
    left:20%;
    z-index: 5;
}
#item3 {
    position:absolute;
    width: 32px;
    top:30%;
    left:48%;
    z-index: 5;
}
#item4 {
    position:absolute;
    width: 32px;
    top:10%;
    left:15%;
    z-index: 5;
}
#item5 {
    position:absolute;
    width: 32px;
    top:40%;
    left:40%;
    z-index: 5;
}
#player {
  color:#1e7fcb;
  position: absolute;
  top: 60%;
  left: 70%;
  font-size: 20px;
  font-family: 'Josefin Slab', serif;
}
.mapExplain {
  font-family: 'Josefin Slab', serif;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
  color: #000000;
  position: absolute;
  background: no-repeat center/105% url(../images/papyrus.png);
  text-align: center;
  width: 10%;
  top: 35%;
  left: 22%;
  display: none;
}
.mapExplain a {
  font-family: 'Josefin Slab', serif;
  font-size: 13px;
  color: #1e7fcb;
}
.current {
  display: block;
}
/*Choix du personnage*/
h1 {
  color: #1e7fcb;
  font-family: 'Josefin Slab', serif;
  text-align: center;
}
img{
  float: left;
  width: 300px;
  padding: 5px;
}
a {
  text-decoration: none;
}
/*Retour à la page d'accueil*/
button {
  border: 1px solid #1E7FCB;
  background: none;
  color: #1E7FCB;
  padding: 10px;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 250px;
  margin-left: 300px;
}
